_archive
droplet_normal_lung_seurat_ntiss10x.P2.anno.20191002.RC4.Robj
data.tgz
data-22-03-26.tgz
dir.txt
droplet_normal_lung_seurat_ntiss10x.P2.anno.20191002.RC4.Robj
facs_normal_lung_blood_seurat_ntiss.P2.anno.gencode.20200616.RC4.Robj
GSM4946629_ma-d0-lung-1_raw_feature_bc_matrix.h5
GSM4946630_ma-d0-lung-2_raw_feature_bc_matrix.h5
GSM4946631_ma-d0-lung-3_raw_feature_bc_matrix.h5
lung_1169Z_control_raw.h5
lung_218V_control_raw.h5
lung_700D_control_raw.h5
lung_89C_control_raw.h5
mouse_seurat_raw
s101_2_greenmonkey_GSM4743527_16434_16436.RDS
s101_2_pig_DS026_DS027.RDS
s101_2_rat_DS024_DS025.RDS
s511_1_diet_hamster.RDS
s511_1_diet_human_charite.RDS
s511_1_diet_mouse.RDS


